<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuB5MHFCZ0cM6qfoA8A1dnbCU3eIq7kxM</string>
	<key>GCM_SENDER_ID</key>
	<string>1015111764661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathonBloodDonation</string>
	<key>PROJECT_ID</key>
	<string>blood-donation-e083d</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donation-e083d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015111764661:ios:7f27269a8847cfa6934cfc</string>
</dict>
</plist>